.social-login
    button.social-log--github
        span
            i.fab.fa-github
        |Continue with GitHub
    button.social-login--facebook
        span
            i.fab.fa-facebook
        |Continue with FaceBook
    